/****************************************************************
 CSS for http://joe-noh.github.com/bird-strike/
/****************************************************************/

/***** General **************************************************/
body {
    width:  960px;
    margin: 20px auto;
}

header, nav, section, footer {
    display: block;
    border:  1px solid #ccc;
    margin:  5px;
    padding: 20px;
    color:   white;
    background: #222222;
}

h1, h2, h3, h4 {
    color: #22aacc;
}
/****************************************************************/


/***** Header ***************************************************/
header {
    text-size: 120%;
    text-align: center;
}
/****************************************************************/


/***** Navigation ***********************************************/
nav {
    float: right;
    width: 225px;
}
/****************************************************************/


/***** Section **************************************************/
/*section {
    float: left;
    width: 960%;
} */
/****************************************************************/


/***** Footer ***************************************************/
footer {
    clear: both;
    text-align: center;
    padding: 2px;
}
/****************************************************************/


/***** Table ****************************************************/
td {
    padding: 5px;
}

td.bold {
    font-weight: bold;
}
/****************************************************************/


/***** Font Setting *********************************************/
body, textarea {
    font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}

input, select {
    font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
}
/****************************************************************/