body {
    width:  960px;
    margin: 20px auto;
}

body, textarea {
    font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}

input, select {
    font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
}

header, nav, section, footer {
    display: block;
    border:  1px solid #ccc;
    margin:  5px;
    padding: 20px;
    color: white;
    background: #202020;
}

header {
    text-align: center;
    padding: 30px;
}

header ul, header li {
    list-style-type: none;
    display: inline;
}

nav {
    float: left;
    width: 230px;
}

section {
    float: right;
    width: 630px;
}

footer {
    clear: both;
    text-align: center;
}
